
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    background-color: #e9b6e9;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
}


header {
    background: rgba(156, 81, 153, 0.6);
    padding: 20px;
}

header h1 {
    font-size: 36px;
    color:#4d034d
}

header p {
    font-size: 18px;
    color:#4d034d
}


main {
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background: rgba(116, 20, 116, 0.6);
}

section h2 {
    font-size: 24px;
    color:#4d034d
}
section h3 {
    font-size: 24px;
    color:#4d034d
}
section h4 {
    font-size: 24px;
    color:#4d034d
}

section p {
    font-size: 16px;
    color:#4d034d
}

img {
    width: 60%;
    margin: auto;
    display: block;
  }

footer {
    background: rgba(169, 93, 192, 0.6);
    padding: 10px;
}
#perfil {
    text-align: center;
}

.perfil img {
max-width: 100%;
    height:auto;
    width: 40px;
}

.perfil a {
    display: block; 
    text-decoration: none;
}

.perfil a:hover {
    text-decoration: underline;
}

A:hover{color: rgb(171, 57, 182);}
A:visited{color:rgb(79, 8, 107);}
a:link {text-decoration: none;}
A:link{color:violet;}
A:active{color:rgb(173, 71, 182);}

.button{
    border: 0;
    color: rgb(88, 25, 88);
    border-radius: auto;
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: 25px;
}





